<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>Criar tarefa</title>
  <link rel="stylesheet" type="text/css" href="../Estilos/estilos.css" />
</head>
<body>
  <link rel="stylesheet" href="/css/style.css">
  <h1>Criar tarefa</h1><a href="/main" style="color:#1c005e">Voltar</a></br>
  
</body>
</html>

