<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: #f8f9fa;
    }

    .container {
      max-width: 600px;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
    }

    .atividade {
      background-color: #f8f9fa;
      padding: 20px;
      margin-bottom: 20px;
      border: 1px solid #ced4da;
      border-radius: 5px;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1 class="text-center mt-4">Bem-vindo ao Gerenciador de Tarefas</h1>
    <a href="/logout" class="d-block text-right mt-2">Sair</a>
    <a href="/criartarefa" class="d-block mt-3">Criar Tarefa</a>
    <div class="atividade">
      <h3>Exemplo tarefa 1</h3>
      <p>Tarefa 1</p>
      <form action="/tarefa" method="get">
        <button type="submit" class="btn btn-primary">Alterar</button>
        <button class="btn btn-danger">Delete</button>
      </form>
    </div>
    <div class="atividade">
      <h3>Exemplo tarefa 2</h3>
      <p>Tarefa 2</p>
      <form action="/tarefa" method="get">
        <button type="submit" class="btn btn-primary">Alterar</button>
        <button class="btn btn-danger">Delete</button>
      </form>
    </div>
    <div class="atividade">
      <h3>Exemplo tarefa 3</h3>
      <p>Tarefa 3</p>
      <form action="/tarefa" method="get">
        <button type="submit" class="btn btn-primary">Alterar</button>
        <button class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>