<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="../Estilos/estilos.css" />
</head>
<body>
  <link rel="stylesheet" href="/css/style.css">
  <h1>Bem-vindo ao Gerenciador de Tarefas</h1><a href="/logout" style="color:#1c005e">Sair</a></br>
  <a href="/criartarefa">Criar Tarefa</a>
    <div class="atividade">
      <h3>Exemplo tarefa 1</h3></br>
      <p>Tarefa 1</p></br>
      <form action="/tarefa" method="get">
        <button type="submit" class="button1">Alterar</button>
        <button class="button1">Delete</button>
      </form>
    </div>
    <div class="atividade">
      <h3>Exemplo tarefa 2</h3></br>
      <p>Tarefa 2</p></br>
      <form action="/tarefa" method="get">
        <button type="submit" class="button1">Alterar</button>
        <button class="button1">Delete</button>
      </form>
    </div>
    <div class="atividade">
      <h3>Exemplo tarefa 3</h3></br>
      <p>Tarefa 3</p></br>
      <form action="/tarefa" method="get">
        <button type="submit" class="button1">Alterar</button>
        <button class="button1">Delete</button>
      </form>
    </div>
</body>
</html>

