<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: #f8f9fa;
    }

    .container {
      max-width: 600px;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
    }

    .atividade {
      background-color: #f8f9fa;
      padding: 20px;
      margin-bottom: 20px;
      border: 1px solid #ced4da;
      border-radius: 5px;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1 class="text-center mt-4">Bem-vindo ao Gerenciador de Tarefas</h1>
    <a href="/logout" class="d-block text-right mt-2">Sair</a>
    <a href="/criartarefa" class="d-block mt-3">Criar Tarefa</a>

    <% if (events.length > 0) { %>
      <% events.forEach((event) => { %>
        <div class="atividade">
          <h3><%= event.summary %></h3>
          <p><%= event.start.dateTime %></p>
          <form action="/tarefa" method="get">
            <button type="submit" class="btn btn-primary">Alterar</button>
            <button class="btn btn-danger">Delete</button>
          </form>
        </div>
      <% }); %>
    <% } else { %>
      <p>Nenhum evento encontrado.</p>
    <% } %>
    
  </div>
</body>

</html>
