<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Perfil</title>
  <link rel="stylesheet" type="text/css" href="../Estilos/estilos.css" />
</head>
<body>
  <link rel="stylesheet" href="/css/style.css">
  <h1>Pagina perfil</h1><a href="/" style="color:#1c005e">Voltar</a></br>
</body>
</html>

