<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Alterar Tarefa</h1><a href="/main" style="color:#1c005e">Voltar</a>
  <form action="/main" method="get">
    <div class="alteratarefa">
        <label for="tarefa">Tarefa:</label>
        <input type="text" id="tarefa" style="width: 80%; height: 50px;"/>
      </div>
    <div class="form-group">
      <button type="submit">Alterar</button>
    </div>
  </form>
</body>
</html>