/* style.css */

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card2 {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Adicionado */
}

#heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.field {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.input-icon {
  margin-right: 10px;
  fill: #999;
}

.input-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button1 {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.voltar {
  color: #4caf50;
  text-decoration: none;
}

.voltar:hover {
  text-decoration: underline;
}
