body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.card {
  background-color: #ffffff;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.field {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.input-icon {
  margin-right: 10px;
  fill: #999;
}

.input-field {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button1 {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button1:hover {
  background-color: #45a049;
}

.voltar {
  color: #888;
  text-decoration: none;
}

.voltar:hover {
  text-decoration: underline;
}